### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media


## My own stuff ##
requirements
To Django
random_saving_generator.py
Makefile
wait-for-postgres.sh
examplenginx.conf
