@keyframes hide {
  0% {
    opacity: 1;
    height: 100%;
    line-height: 100%;
  }
  75% {
    opacity: 0;
    height: 100%;
    line-height: 100%;
    margin: 0 px
  }
  100% {
    opacity: 0;
    height: 0px;
    line-height: 0px;
    padding: 0px;
    margin-bottom: 0px;
  }
}

#system-message {
  border-style: solid;
  margin: 10px auto 10px;
  padding: 20px;
  width: 80%;
  text-align: center;
}


/* to clear floats after a floating element */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


.flexbox-container {
  flex: 1;
  display: flex;
  margin: 0;
  padding: 0;
}

.flexbox-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.item-1 {
  width: 60%;
}

.item-2 {
  width: 40%;
}

.button {
  width: 100%;
}

.input-box {
  border: 3px blue solid;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  min-width: 60%;
  max-width: 80%;
  min-height: 24em;
  max-height: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* These are for input fields */
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.form__field {
  width: 100%;
  border: 0;
  border-bottom: 2px solid;
  outline: 0;
  font-size: 1.3rem;
  padding: 7px 0;
  background: transparent;
}
.form__label {
  position: absolute;
  top: 0;
  display: block;
  font-size: 1rem;
  color: #3a4047;
}

.form__field:focus {  
  padding-bottom: 6px;
  border-width: 3px;
}

.variables {
  text-align: right;
}
.header {
  font-weight: bold;
}

.result-group {
  display: flex;
}

.result {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 70%;
  font-weight: bold;
  font-size: 6vw;
}

.unit {  
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  padding-left: 5px;
  font-size: 3vw;
}



.title {
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px;
  text-align: center;
}

.saving {
  display: flex;
  align-items: center;
  margin: 2px;
  padding: 2px;
  animation-name: hide;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}


.appliance-column, .kwh-column, .date-column, .delete-column, .rank-column, .saver-column {
  float: left;
  width: 25%;
}


.delete {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

@media (min-width: 600px) {
  * {
    font-size: medium;
  }

  .calculator {
    max-width: 30em;
  }

  .explanation {
    grid-column: 1;
  }
}

/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/#basics-and-terminology */
