@keyframes hide {
  0% {
    opacity: 1;
    height: 100%;
    line-height: 100%;
  }
  75% {
    opacity: 0;
    height: 100%;
    line-height: 100%;
    margin: 0 px
  }
  100% {
    opacity: 0;
    height: 0px;
    line-height: 0px;
    padding: 0px;
    margin-bottom: 0px;
  }
}

.calculator-background {
  padding: 0;
  margin: 20px;
  min-height: 20rem;
}

input {
  width: 100%;
  margin-bottom: 4px;
}

.input-box {
  background: rgb(168, 196, 92);
  border: 2px solid black;
  border-radius: 10px;
  margin: 25px auto 25px;
  padding: 20px;
  width: 60%;
}

#lighting-form {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(3, 1fr) 0.5fr;
}

.header {
  font-weight: bold;
}
.result {
  background: rgb(255, 89, 89);
  padding: 1px 2px;
  text-align: right;
}

.explanation {
  font-weight: bold;
}

.variables {
  text-align: right;
  padding: 1px 2px;
}

.frequency {
  padding-left: 5px;
  grid-column: 0.3fr;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px;
  grid-column: 1 / -1;
  text-align: center;
}

#appliance {
  grid-column: span 2;
}

.saving {
  display: flex;
  align-items: center;
  margin: 2px;
  padding: 2px;
  animation-name: hide;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.saving:after {
  content: "";
  display: table;
  clear: both;
}

.appliance-column, .kwh-column, .date-column, .delete-column {
  float: left;
  width: 25%;
}


.delete {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

@media (min-width: 600px) {
  * {
    font-size: medium;
  }

  .calculator {
    max-width: 30em;
  }

  #lighting-form {
    grid-template-columns: repeat(1fr, 4);
  }

  .explanation {
    grid-column: 1;
  }
}

/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/#basics-and-terminology */
