{% extends "carbonator/layout.html" %}
{% load static %}

{% block body %}
<div class="flexbox-content swatch_3">
    <div class="profile swatch_2">
        <div class="long-textbox">
            Carbonator is a web app designed to help you combat climate change by reducing your own carbon footprint.

            You can find out how small actions, such as switching off a light bulb or tv save energy.

            We all know intuitively that we should use less energy but it is not easy to assess the impact of individual actions and quantify what the benefits can be.
             
        
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}