{% extends "carbonator/layout.html" %}
{% load static %}

{% block body %}
<div class="flexbox-content swatch_3">
    <div class="profile swatch_2">
        <div class="long-textbox">
            <p>
                Carbonator is a web app designed to help you combat climate change by reducing your own carbon footprint.
            </p>
            <p>
                It helps you find out how small actions, such as switching off a light bulb or TV all contribute to saving energy. 
                It is also an ideal educational tool, useful to teachers and parents.
            </p>
            <p>
                We all know intuitively that we should use less energy, but it is not always
                easy to comprehend, let alone explain to others, the individual and cumulative 
                impact of small behavior changes everyday.
            </p>
            <p>
                Carbonator helps quantify these impacts, putting them into perspective. Thanks to Carbonator, 
                you can make better informed decisions about the trade-offs we all have to consider 
                in our daily lives.
            </p>
            <p>
                To get the most out of Carbonator users are encouraged to register and enter their own unit marginal cost of 
                electricity. It is usually straightforward find out the amount of carbondioxide emissions per unit of electricity 
                with some search on your utility or government websites.  
            </p>
            <p>
                Only admin users can add new appliance categories but all users can take advantage of "generic appliance"
                 selection if none of the other labels describe the type of appliance they would like choose for calculating
                  savings.
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}