{% extends "carbonator/layout.html" %}
{% load static %}

{% block body %}
<div class="flexbox-content swatch_3">
    <div class="profile swatch_2">
        <div class="long-textbox">
            <p>
                Carbonator is a web app designed to help you combat climate change by reducing your own carbon footprint.
            </p>
            <p>
                It helps you find out how small actions, such as switching off a light bulb or tv all contribute to saving energy.
            </p>
            <p>
                We all know intuitively that we should use less energy but it is not always
                easy to comprehend, let alone explain to others, the individual and cumulative impact of each small action.
            </p>
            <p>
                Carbonator helps quantify these impacts, putting them in perspective. That means using Carbonator 
                you can make better informed decisions about the trade-offs we all have to consider 
                in our daily lives.
            </p>
            <p>
                It could also be used as an educational tool by teachers and parents.
            </p>        
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}