{% extends "carbonator/layout.html" %}
{% load static %}

{% block body %}
<div class="flexbox-content swatch_3">
    <div class="profile swatch_2">
        <div class="long-textbox">
            <p>Carbonator is developed for educational purposes.</p>
            <p>All assumptions and calculations are for illustrative purposes only.</p>
            <p>Consumption and duration suggestions can be changed for each calculation on the main screen.</p>
            <p>Efficiency of appliances and carbon footprint of electricity grids can vary significantly. 
                Therefore, if something does not make sense to you, please check the underlying assumptions and 
                try to find out the efficiency and costs applicable to your own situation.
            </p>
            <p>You can put in your own values on the user settings page when you register.</p>
            <p>At this moment in time it is not possible to add new appliance categories for users.<p>
            <p>Please use "generic appliance" if none of the other labels describe the type of appliance you would like to save.</p>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}