{% extends "carbonator/layout.html" %}
{% load static %}

{% block body %}

{% load humanize %}

<div class="flexbox-content swatch_3">
    <div class="hall-of-fame swatch_2" id="savings">
        <div class="hall-box">
            <div class="title">Top 10 Energy Champions</div>
            <div class="table-box">
                <table id="savers-table">
                    <thead class="savers header">
                        <tr>
                            <th class="saver" style = "text-align: right;">Rank</th>
                            <th class="saver">Username</th>
                            <th class="saver" style = "text-align: right;">kWh</th>
                        </tr>
                    </thead>
                    {% for user in halloffame %}
                    <tr class="savers">
                        <td class="saver" style = "text-align: right;">{{ forloop.counter }} - </td>
                        <td class="saver">{{ user.username }}</td>
                        <td class="saver" style = "text-align: right;">{{ user.totalSaved|floatformat:"0"|intcomma }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        
        </div>
    </div>
    
</div>
{% endblock %}
{% block script %}
{% endblock %}