{% extends "carbonator/layout.html" %}
{% load static %}

{% block body %}

<!-- passing consumption data etc to javascript -->
{{ appliances|json_script:"appliances" }}
{{ costs|json_script:"costs" }}
{{ request.user.username|json_script:"username" }}

<div class="flexbox-container">
    <div class="flexbox-content item-1 swatch_3">
        <div class="input-box swatch_2">
            <form action="{% url 'bank' %}" id="lighting-form" class ="" method="POST">
                {% csrf_token %}
                <div class="title">Switch Off</div>
                <div class="form__group field">
                    <select class="form__field" name="appliance" id="appliance"></select>
                    <label for="appliance" class="form__label">Appliance</label>
                </div>
                <div class="form__group field">
                    <input type="text" inputmode="decimal" class="form__field variables" id="consumption" name="consumption">
                    <label for="consumption" class="form__label">Consumption (Watts)</label>
                </div>
                <div class="form__group field">
                    <input type="text" inputmode="decimal" class="form__field variables" id="duration" name="duration">
                    <label for="duration" class="form__label">For how long? (minutes)</label>
                </div>
                {% if user.is_authenticated %}
                <div class="form__group field">
                    <input type="submit" class="button" id="bank" value="Bank!">
                </div>
                {% endif %}
            </form>
        </div>
    </div>  
    
    <div class="flexbox-content item-2 swatch_4">
        <div class="input-box swatch_2">
            <div class="title">Result</div>
            <div class=result-group>
                    <div class="result" id="kwh"></div>
                    <div class="unit" id="energyUnit"></div>
            </div>
            <div class=result-group>
                    <div class="result" id="money"></div>
                    <div class="unit">{{ costs.moneyUnit }}</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
    <script src="{% static 'carbonator/index.js' %}"></script>
{% endblock %}