{% extends "carbonator/layout.html" %}
{% load static %}

{% block body %}
<div class="calculator-background">
    <div class="calculator">
        <form id="lighting-form">
            <div class="explanation">
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis magnam consequatur facere dignissimos et, soluta reprehenderit ducimus aliquam labore commodi?
            </div>
            <div class="cell-container selection">
                <select id="selection-1" name="selection-1">
                    <option>LED</option>
                    <option>Incandescant</option>
                </select>
            </div>
            <div class="units">Units</div>
            <div class="explanation">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita in praesentium quasi autem minima facilis dolorum ratione tempore laboriosam rerum.
            </div>
            <div class="cell-container selection">
                <select class="selection" id="selection-2" name="selection-2">
                    <option>10</option>
                    <option>20</option>
                    <option>30</option>
                    <option>40</option>
                </select>
            </div>
            <div class="units">Units</div>
            <div class="explanation">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi perferendis neque itaque at. Ipsam, alias.
            </div>
            <div class="cell-container selection">                       
                <input class="freetext">
            </div>
            <div class="units">Units</div>
            <div class=submit-button>
                <input type="submit">
            </div>
        </form>
    </div>
</div>
{% endblock %}
