{% extends "carbonator/layout.html" %}
{% load static %}

{% block body %}

<!-- passing consumption data etc to javascript -->
{{ appliances|json_script:"appliances" }}
{{ costs|json_script:"costs" }}
{{ request.user.username|json_script:"username" }}

<div class="calculator-background">
    <div class="input-box">
        <form action="{% url 'bank' %}" id="lighting-form" method="POST">
            {% csrf_token %}
            <div class="title">Switch Off</div>
            <div class="explanation">Appliance</div>
            <select class="selection" id="appliance" name="appliance"></select>
            <div class="explanation">Consumption</div>
            <input type="text" inputmode="decimal" class="variables" id="consumption" name="consumption">
            <div class="units">Watts</div>
            <div class="explanation">For</div>
            <input type ="text" inputmode="decimal" class="variables" id="duration" name="duration">
            <div class="units">Minutes</div>
            <div class="title">You Save</div>
            <div class="header">{{ costs.moneyUnit }}</div>
            <div class="header">grams CO2e</div>
            <div class="header">Trees</div>
            <div class="result" id="kwh"></div>
            <div class="result" id="money"></div>
            <div class="result" id="trees"></div>
            {% if user.is_authenticated %}
            <input type="submit" class="button" id="bank" value="Bank!">
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'carbonator/index.js' %}"></script>
{% endblock %}