{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <link href="{% static 'carbonator/layout.css' %}" rel="stylesheet">
        <link href="{% static 'carbonator/styles.css' %}" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="{% static 'carbonator/favicon.ico' %}"/>
        <script src="{% static 'carbonator/IntlNumberFormat.js' %}"></script>
        <script src="{% static 'carbonator/layout.js' %}" defer></script>
        <title>Carbonator</title>
        {% block script %}
        {% endblock %}
    </head>
    <body class="swatch_1">
        <nav class="navbar swatch_2">
            <a href="{% url 'index' %}" class="brand-title">Carbonator</a>
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="navbar-links">
                <ul>
                    <li><a href="{% url 'halloffame' %}">Hall of Fame</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}">{{ user.username }}</a></li>
                    <li><a href="{% url 'settings' %}">User Settings</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        
        </nav>
    {% load humanize %}
    <div id="message-container"></div>
        {% block body %}
        {% endblock %}
        <div class = "footer swatch_2">
            <div class ="footer-content">Carbonator</div>
            <div class ="footer-content">E-mail</div>
            <div class ="footer-content">Disclaimer</div>
        </div>
    </body>
</html>