{% extends "carbonator/layout.html" %}
{% load static %}

{% block body %}


<div class="flexbox-content swatch_3">
    <div class="profile swatch_2" id="savings">
        <div class="profile-box">
            <div class="header">
                <p>Username: {{ user.username }}</p>
                <span>Total Saved kWh: </span><span id="total-saving">{{ total_saving |floatformat:2 }}</span>
                <br>
                <span>Rank: </span><span id="rank">{{ rank }}</span><span> out of {{ total_users }}</span>
            </div>
            <table id="savings-table">
                <thead class="saving">
                    <th class="appliance-column header">Appliance</th>
                    <th class="kwh-column header">kWh</th>
                    <th class="date-column header">Date</th>
                    <th></th>
                </thead>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
    <script src="{% static 'carbonator/profile.js' %}" defer></script>
{% endblock %}