{% extends "carbonator/layout.html" %}
{% load static %}

{% block body %}


<div class="flexbox-content swatch_3">
    <div class="profile swatch_2" id="savings">
        <div class="profile-box">
            <div class="header">{{ user.username }}: You are in rank PH with   
                <span id="total-saving">{{ total_saving.energySaved__sum |floatformat:2 }}</span> kWh.
            </div>
            <div class="header">This is a list of the individual savings you have achieved so far.</div> 
            <table id="savings-table">
                <thead class="saving">
                    <th class="appliance-column header">Appliance</th>
                    <th class="kwh-column header">kWh</th>
                    <th class="date-column header">Date</th>
                    <th></th>
                </thead>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
    <script src="{% static 'carbonator/profile.js' %}" defer></script>
{% endblock %}